<ion-header>

</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img [src]="autor&&autor.imagen ? autor.imagen : 'assets/images/no-profile-picture.png'" />
    </ion-avatar>
    <ion-title>{{!!article ? article.titulo : ''}}</ion-title>
  </ion-toolbar>
  <ion-img [src]="article?.imagen"></ion-img>
  <ion-text>
    <h1>{{!!article ? article.entradilla : ''}}</h1>
  </ion-text>

  <pinch-zoom backgroundColor="rgba(0,0,0,0)" (events)="zooming($event)">
    <ion-textarea readonly disabled color=dark>
      {{!!article ? article.cuerpo : ''}}
    </ion-textarea>
    <!--  <div [innerHTML]="post.content.rendered" padding></div> -->
  </pinch-zoom>
  <!-- Aquí mencionar al autor y demáses -->

  <!-- <blockquote>
      <p>AAAAAAAAAAAAA</p>
    </blockquote> -->
  <ion-card>
    <!-- Hacer el ngfor de comentarios -->
    <ion-card-header>
      <ion-card-subtitle>Comentario de ejemplo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Un artículo muy bueno, trata sobre tal y cual</ion-card-content>
  </ion-card>
</ion-content>