ion-text{
  text-align: center;
}

ion-textarea{
  text-align: center;
  font-size: 15px;
  font-family: 'Cheltenham Light';
  line-height: 1.4em;
  padding-left: 6px;
  padding-right: 6px;
}

blockquote {
    position: relative;
    /* background: #ddd; */
}

blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
}
blockquote:after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  bottom: 0;
  right: 0;
  margin-right: -0.6em;
  margin-bottom: -0.8em;
}
blockquote p {
  display: inline;
}