<ion-header>

</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img [src]="article.autor.imagen ? article.autor.imagen : 'assets/images/no-profile-picture.png'" />
    </ion-avatar>
    <ion-title>{{!!article ? article.titulo : ''}}</ion-title>
  </ion-toolbar>
  <ion-img [src]="article?.imagen"></ion-img>
  <ion-text>
    <h1>{{!!article ? article.entradilla : ''}}</h1>
  </ion-text>

  <ion-textarea readonly disabled>
    {{!!article ? article.cuerpo : ''}}
  </ion-textarea>

  <!-- Aquí mencionar al autor y demáses -->
</ion-content>