<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button autoHide=false defaultHref="home/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- If eres desarrollador  -->
  <ion-list>
    <ion-list-header>Badges</ion-list-header>
    <ion-item>
      <ion-label>Seguidores</ion-label>
      <ion-badge color=blue slot="end">22k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Likes a mis artículos</ion-label>
      <ion-badge color="blue" slot="end">118k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Comentarios en mis artículos</ion-label>
      <ion-badge color="green" slot="end">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Número de artículos</ion-label>
      <ion-badge color="orange" slot="end">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Talleres en los que has participado</ion-label>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Alumnos en tus talleres</ion-label>
      <ion-badge color="light" slot="end">24</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>