<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">ctxt</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf=true (click)=goToSubscriptions()>
        <!-- En un futuro esconderemos esto si el usuario está suscrito -->
        <ion-icon name="clipboard-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerDirection="root" routerLink="/home/login">
        <!-- En un futuro esconderemos esto si el usuario está logeado -->
        <ion-icon name="enter-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)=goToShop()>
        <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-searchbar animated placeholder="Busca un artículo" (ionInput)="getItems($event)" (ionClear)="resetArticles()">
  </ion-searchbar>
  <ion-icon slot=end name="filter-sharp" (click)="openSelect()"></ion-icon>
</ion-item>

<ion-list *ngIf="tags.length>0">
  <ion-chip *ngFor="let tag of tags" [color]="tag.color">
    <ion-icon [name]="tag.icono"></ion-icon>
    <ion-label [color]="tag.color">{{tag.nombre}}</ion-label>
    <ion-icon class=removeTag name="close-circle-outline" (click)=removeTag(tag)></ion-icon>
  </ion-chip>
</ion-list>

<ion-select multiple="true" (ionChange)="addTags($event)" cancel-text="Cancelar" ok-text="Ok" [hidden]=true>
  <!-- Este componente nunca debe ver la luz del sol... es demasiado feo -->
  <ion-select-option [value]="categorias.contexto">{{categorias.contexto.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.firma">{{categorias.firma.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.ministerio">{{categorias.ministerio.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.editorial">{{categorias.editorial.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.entrevista">{{categorias.entrevista.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.crisisEcosocial">{{categorias.crisisEcosocial.nombre}}
  </ion-select-option>
  <ion-select-option [value]="categorias.feminismo">{{categorias.feminismo.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.deporte">{{categorias.deporte.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.vineta">{{categorias.vineta.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.ctxtCat">{{categorias.ctxtCat.nombre}}</ion-select-option>
  <ion-select-option [value]="categorias.coronavirus">{{categorias.coronavirus.nombre}}</ion-select-option>
</ion-select>

<ion-content>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="true">
    <!-- Escondemos este botón para los no lectores. -->
    <ion-fab-button>
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="loadNewest($event)">
    <!-- Aquí incluir función que refresque el contenido  -->
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles"
      refreshingText="Comprobando nuevos artículos..."></ion-refresher-content>
  </ion-refresher>

  <!-- Aquí el contenido de pull to refresh -->
  <ion-card *ngFor="let art of articulosFiltrados | async">
    <div #mainContent [routerLink]="['/article', art.id]">
      <ion-item>
        <!-- Esto es cuestionable -->
        <img [src]="art?.imagen">
        <h2>{{art?.autor.nombre}}</h2>
        <ion-datetime [value]="art?.publishedDate" disabled></ion-datetime>
      </ion-item>

      <ion-card-header>
        <p>{{art.titulo}}</p>
      </ion-card-header>
    </div>

    <ion-row>
      <ion-col class=center-align>
        <ion-button color=dark (click)="giveLike(art)">
          <!-- En un futuro el color del like dependerá de si el id de usuario se encuentra en los existentes. -->
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          {{art.likes.length}} Likes
        </ion-button>
      </ion-col>
      <ion-col class=center-align>
        <ion-button color=dark>
          <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
          0 Comentarios
          <!-- {{art.comentarios.length}} Transformar esto en otra petición. -->
        </ion-button>
      </ion-col>
      <ion-col class=center-align (click)="share()">
        <ion-button color=dark>
          <ion-icon slot="start" name="share-social-outline"></ion-icon>
          Compartir
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-chip outline [color]="category.color" *ngFor="let category of art.categorias">
      <ion-icon [name]="category.icono"></ion-icon>
      <ion-label [color]="category.color!= '' ? category.color : primary">{{category.nombre}}</ion-label>
    </ion-chip>
  </ion-card>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <!--  -->
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más artículos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar color=danger *ngIf="false">
    <!-- !appIsOnline -->
    <!-- para el futuro: mostrar esto si conviene -->
    <ion-title>Sin conexión</ion-title>
  </ion-toolbar>
</ion-footer>