ion-menu-button{
  background-color: var(--ion-background-color);
  border-radius: 25%;
  --border-width :10px 0px 20px 5px;
  --border-color: black;
  color: black
}

ion-icon{
  color:black
}

ion-title{
  color: black;
  font-size: xx-large;
  font-family: 'Cheltenham Light';
  text-align: center;
}

.center-align{
  text-align: center;
}

h2{
  text-align: center;
}

.rel{
  text-align: center;
}
