<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button autoHide=false defaultHref="home/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Temas</ion-title>
    <ion-button slot="end" (click)="cambiar()">
      <ion-title color=dark>Confirmar</ion-title>
      <ion-icon color=dark slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let opcion of opciones">
      <ion-checkbox [color]="opcion.tema.color!='' ? opcion.tema.color : 'dark'" slot="start"
        [(ngModel)]="opcion.preferido"></ion-checkbox>
      <ion-label [color]="opcion.tema.color">{{opcion.tema.nombre}}</ion-label>
      <ion-icon slot="end" [name]="opcion.tema.icono" [color]="opcion.tema.color"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>